.moon1 {
    filter: opacity(0.3);
    width: 100px;
}

.moon2 {
    width: 100px;
}

.earth1 {
    width: 300px;
}

.earth2 {
    width: 300px;
    filter: opacity(0.3);
}

body {
    background-color: #171B42;
    text-align: center;
}

h1, p {
    color: #E0E0E0;
}

h1 {
    padding-top: 30px;
}

p {
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 50px;
}

img {
    padding-bottom: 50px;
}

a img:hover {
    filter: opacity(0.7);
}